@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sidebar-filter{
    height: 100%;
    color: white;
} */

.formulaire{
    display: flex;
    flex-direction: column;
    
}

.intro-login{
width: 60%;
padding: 15px;
}

.form-login{
    width: 27%;
    padding:3%;
    text-align: center;
}

.form-login-container{
    display: flex;
    justify-content: space-evenly;
    padding: 7% 0;
}