{% extends 'base.html.twig' %}
{% block body %}
	<p class=" bg-blue-950 ">Mes Articles</p>

	{% if visible %}
		{% for article in articles %}
			<ul>
				<li>{{ article }}</li>
			</ul>
		{% endfor %}
	{% endif %}
{% endblock %}
