{% extends 'base.html.twig' %}
{% block body %}
	<div class="user-dashboard  flex bg-sky-950 ">
		<div class="user-contain  basis-1/4 bg-sky-950 p-5 h-screen text-white">
			<h4>Notifications</h4>
		</div>
		<div class="user-sidebar  basis-3/4 px-28 py-5 bg bg-slate-100">
			<div class="header-user flex justify-evenly">
				<img src="https://placehold.co/80" alt="" class="rounded-full">
				<div class="user-infos">
					<h3 class="mb-8">User Name</h3>
					<div class="nav-params-user">
						<ul class="flex">
							<li class="mx-5">Mes infos</li>
							<li class="mx-5">Messagerie</li>
							<li class="mx-5">Notifications</li>
							<li class="mx-5">Paramètres</li>
						</ul>
						<hr>
					</div>
				</div>
			</div>


		</div>
	</div>
{% endblock %}
